@model IEnumerable<Telerik_Project15.Models.Customer>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Layout/_LayoutDashboard.cshtml";
}

<body>
    @Html.Partial("~/Views/Shared/Partial/_PartialSidebar.cshtml")
    <section id="wrapper">
        @Html.Partial("~/Views/Shared/Partial/_PartialNavbar.cshtml")
        <div class="k-p-10">
            <div class="welcome">
                <div class="content k-rounded-b-md k-p-10">
                    <h1 class="fs-3">Welcome to Dashboard</h1>
                    <p class="mb-0">Hello Jone Doe, welcome to your awesome dashboard!</p>
                </div>
            </div>

            <section class="statistics mt-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                            <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle"></i>
                            <div class="ms-3">
                                <div class="d-flex align-items-center">
                                    <h3 class="mb-0">1,245</h3> <span class="d-block ms-2">Emails</span>
                                </div>
                                <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                            <i class="uil-file fs-2 text-center bg-danger rounded-circle"></i>
                            <div class="ms-3">
                                <div class="d-flex align-items-center">
                                    <h3 class="mb-0">34</h3> <span class="d-block ms-2">Projects</span>
                                </div>
                                <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box d-flex rounded-2 align-items-center p-3">
                            <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
                            <div class="ms-3">
                                <div class="d-flex align-items-center">
                                    <h3 class="mb-0">5,245</h3> <span class="d-block ms-2">Users</span>
                                </div>
                                <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="charts mt-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="chart-container rounded-2 p-3">
                            @Html.Partial("~/Views/Shared/Partial/_PartialDonutChart.cshtml")

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="chart-container rounded-2 p-3">
                            @Html.Partial("~/Views/Shared/Partial/_PartialLineChart.cshtml")

                        </div>
                    </div>
                </div>
            </section>

            <section class="admins mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            @(Html.Kendo().Grid(Model)
                                .Name("customerGrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(c => c.CustomerID).Title("ID");
                                    columns.Bound(c => c.FirstName).Title("Name");
                                    columns.Bound(c => c.LastName).Title("Last Name");
                                    columns.Bound(c => c.Email).Title("Email");
                                    columns.Bound(c => c.Phone).Title("Phone");
                                    // Add more columns for other customer attributes as needed
                                    columns.Command(command =>
                                    {
                                        command.Edit().Text("Edit"); // Customizing Edit button text
                                        command.Destroy().Text("Delete"); // Customizing Delete button text
                                    }).Width(200);
                                })
                                .ToolBar(toolbar => toolbar.Create().Text("Add New Customer")) // Customizing Create button text
                                .Editable(editable => editable.Mode(GridEditMode.PopUp))
                                .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(new[] { 5, 10, 20 }) // Set available page sizes
                                .ButtonCount(5)) // Number of page buttons to display
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(5) // Number of records to display per page
                                .Model(model =>
                                {
                                    model.Id(c => c.CustomerID);
                                    model.Field(c => c.CustomerID).Editable(false);
                                })
                                .Create(create => create.Action("Create", "Customer"))
                                .Update(update => update.Action("Update", "Customer"))
                                .Destroy(destroy => destroy.Action("OnPostDestroy", "Customer"))
                                )
                            )
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <!-- <h4>Moderators:</h4> -->
                            <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                                <div class="img">
                                    <img class="img-fluid rounded-pill"
                                         width="75" height="75"
                                         src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907114/small/1501685404/enhance"
                                         alt="admin">
                                </div>
                                <div class="ms-3">
                                    <h3 class="fs-5 mb-1">Joge Lucky</h3>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                                </div>
                            </div>
                            <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                                <div class="img">
                                    <img class="img-fluid rounded-pill"
                                         width="75" height="75"
                                         src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907086/small/1501685404/enhance"
                                         alt="admin">
                                </div>
                                <div class="ms-3">
                                    <h3 class="fs-5 mb-1">Joge Lucky</h3>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                                </div>
                            </div>
                            <div class="admin d-flex align-items-center rounded-2 p-3">
                                <div class="img">
                                    <img class="img-fluid rounded-pill"
                                         width="75" height="75"
                                         src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
                                         alt="admin">
                                </div>
                                <div class="ms-3">
                                    <h3 class="fs-5 mb-1">Joge Lucky</h3>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="statis mt-4 text-center">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="box bg-primary p-3">
                            <i class="uil-eye"></i>
                            <h3>5,154</h3>
                            <p class="lead">Page views</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="box bg-danger p-3">
                            <i class="uil-user"></i>
                            <h3>245</h3>
                            <p class="lead">User registered</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                        <div class="box bg-warning p-3">
                            <i class="uil-shopping-cart"></i>
                            <h3>5,154</h3>
                            <p class="lead">Product sales</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="box bg-success p-3">
                            <i class="uil-feedback"></i>
                            <h3>5,154</h3>
                            <p class="lead">Transactions</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="charts mt-4">
                <div class="chart-container p-3">
                    <h3 class="fs-6 mb-3">Chart title number three</h3>
                    <div style="height: 300px">
                        <canvas id="chart3" width="100%"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>
@section scripts {
    @Scripts.Render("~/bundles/kendo") <!-- Include Kendo UI JavaScript bundle -->

    <script>
        $(document).ready(function () {
            // Show the modal popup when the "Add New Customer" button is clicked
            $("#customerGrid").on("click", ".k-grid-add", function () {
                $("#createCustomerModal").modal("show");
            });

            // Handle form submission when the modal "Save" button is clicked
            $("#createCustomerForm").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.Success) {
                            // Close the modal
                            $("#createCustomerModal").modal("hide");

                            // Refresh the grid (you may need to replace this with your own code)
                            $("#customerGrid").data("kendoGrid").dataSource.read();
                        } else {
                            // Handle validation errors or other errors
                            // Display errors in the modal if needed
                        }
                    }
                });
            });
        });
    </script>
}